.tituloheader {
    color: white;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

p {
    text-indent: 2em;
    text-align: justify;
}

h4 {
    text-align: center;
    padding: 10px;
}

.conteudo {
    margin-left: 50vh;
    margin-right: 50vh;
    margin-top: 50px;
    border: solid;
    border-color: #599CFF;
    padding: 5vh;
    box-shadow: 1px 1px 1px 1px grey;
    background: white;
    height: 75vh;
    width: 100vh;

}

.conteudovendas {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 112px;
    border: solid;
    border-color: #599CFF;
    padding: 5vh;
    box-shadow: 1px 1px 1px 1px grey;
    background: white;
    height: 60vh;
    width: 80%;

}

.conteudosobre {
    margin-left: 50vh;
    margin-right: 50vh;
    margin-top: 50px;
    border: solid;
    border-color: #599CFF;
    padding: 5vh;
    box-shadow: 1px 1px 1px 1px grey;
    background: white;
    height: 95vh;
    width: 100vh;

}

#img {

    height: 25vh;
    width: 25vh;
    display: block;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    
}

#imgarena {
    width: 100%;
    height: auto;
}

.divvendas {
    float: left;
    width: 33%;
    height: 100%;
    text-align: center;
}

.imgvendas {
    width: 80%;
    height: 80%;

}

body {
    background-image: url(../imagens/gremiobackground.jpg);
    
}

#btncontato {
    margin-right: 0;
    margin-top: 15vh;
}

footer {
    font-style: italic;
    color: white;
    font-family: century;
    text-align: center;
    font-weight: bold;
    background-color: black;
    border: solid black;
    margin-top: 10pt;
}